h1 utility
p 使えそうなクラスがあれば追加して置く

h2 margin

div(style="background:#ccc")
  .margin--small margin小

div(style="background:#999")
  .margin--medium margin中

div(style="background:#ccc")
  .margin--large margin大

div(style="background:#999")
  .margin--zero margin0


h2 テキスト系

.h1 h1タグと同じ
.h1--body h1タグと同じ(boldなし)

.h2 h2タグと同じ
.h2--body h2タグと同じ

.h3 h3タグと同じ
.h3--body h3タグと同じ

.h4 h4タグと同じ
.h4--body h4タグと同じ

.h5 h5タグと同じ
.h5--body h5タグと同じ

.h6 h6タグと同じ
.h6--body h6タグと同じ


.p pタグと同じ

.small smallタグと同じ

.caps--large フォントサイズ大


h2 リスト系

h3 ノーマル
ul
  li リスト
  li リスト
ol
  li 順序リスト
  li 順序リスト

h3 list-style消し
ul.unstyled
  li リスト
  li リスト
ol.unstyled
  li 順序リスト
  li 順序リスト

h3 inline(style消える)
ul.inline-list
  li リスト
  li リスト
ol.inline-list
  li 順序リスト
  li 順序リスト


h2 バッジ

span.badge span
a.badge a


h2 table

h3 defalut
table
  tr
    th th
    td td
  tr
    th th
    td td

h3 responsive
p スマホで縦に並ぶイメージっぽいけど、複数の時がまだわかってない

table.responsive-table
  tr.responsive-table-row
    th th
    td td
  tr.responsive-table-row
    th th
    td td
